<form name="form" ng-submit="create()" role="form">
	<div class="form-group">
		<md-input-container>
			<label>Name</label>
			<input ng-model="name" autocomplete="off" require>
		</md-input-container>
	</div>
	<div class="form-group">
		<md-input-container>
			<label>Indications</label>
			<input ng-model="indications" autocomplete="off" require>
		</md-input-container>
	</div>
	<div class="form-group">
		<md-input-container>
			<label>Side-effects</label>
			<input ng-model="sideEffects" autocomplete="off" require>
		</md-input-container>
	</div>
	<div class="form-actions">
		<div layout="row">
			<div>
				<md-button type="submit" ng-disabled="form.$invalid" class="md-raised md-primary">Create</button>
			</div>
			<div>
				<md-button href="/" class="md-raised">Home</button>
			</div>
		</div>
	</div>
</form>