<form name="form" ng-submit="" role="form" ng-init="getMedication()">
	<div class="form-group">
		<md-input-container>
			<label>Name</label>
			<input ng-model="medication.name" autocomplete="off" required="true" ng-readonly="true">
		</md-input-container>
	</div>
	<div class="form-group">
		<md-input-container>
			<label>Indications</label>
			<input ng-model="medication.indications" autocomplete="off" required="true">
		</md-input-container>
	</div>
	<div class="form-group">
		<md-input-container>
			<label>Side-effects</label>
			<input ng-model="medication.sideEffects" autocomplete="off" required="true">
		</md-input-container>
	</div>
	<div class="form-actions">
		<div layout="row">
			<div>
				<md-button ng-click="saveMedication()" type="submit" ng-disabled="form.$invalid" class="md-raised md-primary">Save</button>
			</div>
			<div>
				<md-button href="/" class="md-raised">Home</button>
			</div>
		</div>
	</div>
</form>