		<ul>
			<md-button href="/create" class="md-fab md-primary" aria-label="Eat cake">
				<i class="material-icons">add</i>
			</md-button>
			<md-card ng-repeat="(key, value) in medications" layout="column">
				<div layout="row">
					<md-toolbar>
						<div class="md-toolbar-tools">
							<md-button href="/edit" class="md-icon-button" aria-label="Edit" ng-click="setMedication(value)">
								<i class="material-icons">mode_edit</i>
								<md-tooltip>
									Edit
								</md-tooltip>
							</md-button>
							<h2>
								<span>{{ value.name }}</span>
							</h2>
							<span flex></span>
							<md-button class="md-icon-button" aria-label="Expand more" ng-click="value.showMore=true" ng-if="!value.showMore" ng-init="value.showMore=false">
								<i class="material-icons">expand_more</i>
								<md-tooltip>
									Expand more
								</md-tooltip>
							</md-button>
							<md-button class="md-icon-button" aria-label="Expand less" ng-click="value.showMore=false" ng-if="value.showMore">
								<i class="material-icons">expand_less</i>
								<md-tooltip>
									Expand less
								</md-tooltip>
							</md-button>
						</div>
					</md-toolbar>
				</div>
				<md-card-content ng-if="value.showMore">
					<p>Indications: {{ value.indications }}</p>
					<p>Side-effects: {{ value.sideEffects }}</p>
				</md-card-content>
			</md-card>
		</ul>