<!doctype>

<html lang="en">

	<head>

		<meta charset="UTF-8">
		<base href="/">
		<title>VirtualPharmacy</title>

		<script src="libs/angular/angular.min.js"></script>
		<script src="libs/angular-route/angular-route.min.js"></script>
		<script src="libs/angular-cookies/angular-cookies.min.js"></script>

		<script src="js/controllers/MainController.js"></script>
		<script src="js/services/MedicationService.js"></script>
		<script src="js/services/UserService.js"></script>
		<script src="js/appRoutes.js"></script>
		<script src="js/app.js"></script>

	</head>
	<body ng-app="VirtualPharmacy" ng-controller="MainController" ng-cloak>

		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>
					<span>VirtualPharmacy</span>
				</h2>
				<span flex></span>
				<md-button href="/login" class="md-raised" ng-if='notLoggedIn()'>Log in</md-button>
				<md-button ng-click='logout()' class="md-raised" ng-if='loggedIn()'>Log out</md-button>
				<md-button href="/register" class="md-raised" ng-if='notLoggedIn()'>Register</md-button>
			</div>
		</md-toolbar>

		<div ng-view class="contentContainer"></div>

		<script src="libs/angular-animate/angular-animate.min.js"></script>
		<script src="libs/angular-aria/angular-aria.min.js"></script>
		<script src="libs/angular-messages/angular-messages.min.js"></script>
		<script src="libs/angular-material/angular-material.min.js"></script>
		<link rel="stylesheet" href="libs/angular-material/angular-material.min.css">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="css/app.css">

	</body>

</html>