<form name="form" ng-submit="login()" role="form">
	<div class="form-group">
		<md-input-container>
			<label>Username</label>
			<input ng-model="username" autocomplete="off" required="true">
		</md-input-container>
	</div>
	<div class="form-group">
		<md-input-container>
			<label>Password</label>
			<input type="password" ng-model="password" autocomplete="off" required="true">
		</md-input-container>
	</div>
	<div class="form-actions">
		<div layout="row">
			<div>
				<md-button type="submit" ng-disabled="form.$invalid" class="md-raised md-primary">Login</button>
			</div>
			<div>
				<md-button href="/" class="md-raised">Home</button>
			</div>
		</div>
	</div>
</form>