body {

	font-family: 'Lato', serif;
	font-size: 18px;

}

md-input-container {

	margin-top: 15px;
	margin-bottom: 5px;

}

md-card {

	padding: 0;

}

a.md-button.md-fab i {

	line-height: 56px;

}

a.md-button.md-fab.md-mini i {

	line-height: 40px;
	
}

.contentContainer {

	width: 80%;
	margin: auto;

}

.contentContainer form {

	margin: auto;
	margin-top: 25px;
	width: 228px;

}

div ul {

	padding: 0;

}